*.[oa]
*.deb
*.rpm
*.tgz
ui_*
moc_*.cpp
*.*~
*~
qrc_*.cpp
*.qm
Makefile
Makefile.*
qtDbf.pro.user
qtDbf.pro.user.*
src/*.*.autosave
bin/*
misc/packages/qtdbf/DEBIAN/md5sums
misc/packages/qtdbf/DEBIAN/control
misc/packages/qtdbf/usr/share/applications/qtdbf.desktop
misc/packages/qtdbf/usr/share/doc/qtdbf/help/*
misc/packages/qtdbf/usr/share/doc/qtdbf/changelog.gz
misc/packages/qtdbf/usr/share/pixmaps/qtdbf.svg
misc/packages/qtdbf/usr/bin
