*.[oa]
*.deb
*.rpm
*.tgz
ui_*
moc_*.cpp
*.*~
*~
qrc_*.cpp
*.qm
Makefile
Makefile.*
qtdbf.pro.user
qtdbf.pro.user.*
src/*.*.autosave
bin/*
misc/package/qtdbf/DEBIAN/md5sums
misc/package/qtdbf/DEBIAN/control
misc/package/qtdbf/usr/share/applications/qtdbf.desktop
misc/package/qtdbf/usr/share/doc/qtdbf/help/*
misc/package/qtdbf/usr/share/doc/qtdbf/changelog.gz
misc/package/qtdbf/usr/share/pixmaps/qtdbf.svg
misc/package/qtdbf/usr/bin
misc/package/qtdbf/share/pixmaps/*/*
misc/package/qtdbf/share/icons/*/*
