*.[oa]
*.deb
*.rpm
*.tgz
moc_*.cpp
*.*~
*~
qrc_*.cpp
*.qm
Makefile
protimer.pro.user
src/qtdbf.pro.user.*
src/qtdbf.pro.user
src/*.*.autosave
src/ui_*
bin/*
bin32/*
bin64/*
packages/qtdbf/DEBIAN/md5sums
packages/qtdbf/DEBIAN/control
screen/*
packages/qtdbf/usr/share/doc/qtdbf/changelog.gz
binwin/*
binmac/*
distr/*
