<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>qtdbf</Name>
    <Version>0.9.10</Version>
    <Title>qtDbf - simple DBF editor and viewer</Title>
    <Publisher>Alexander Vorobyev</Publisher>
    <StartMenuDir>Applications</StartMenuDir>
    <TargetDir>@ProgramFiles</TargetDir>
    <ProductUrl>http://www.va-soft.ru/project_8.html</ProductUrl>
    <Icon>qtdbf</Icon>
    <Watermark>qtdbf.png</Watermark>
    <RepositorySettingsPageVisible>false</RepositorySettingsPageVisible>
    <AllowSpaceInPath>True</AllowSpaceInPath>
</Installer>
